@media screen and (max-width: 1500px){
    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1200px) {
    
    .home .left h5{
        font-size: 18px;
    }

    .home .left h3{
        font-size: 36px;
    }

    .home .left p{
        font-size: 18px;
    }

    .home .right img{
        width: 380px;
    }

    .experties .experties-items{
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .experties .experties-items .expertise{
        width: 49%;
    }

    .about .left img{
        width: 370px;
    }

    .experties h3,
    .about .right h3,
    .portfolio .header h3,
    .testinomials h3{
        font-size: 32px;
    }

    .about .right p{
        font-size: 15px;
    }

    .testinomials .customers .expertise .rating{
        font-size: 20px;
    }

    .testinomials .customers .expertise p{
        font-size: 13px;
    }

    footer .top ul{
        gap: 20px;
    }
    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 992px) {
    
    nav button{
        display: none;
    }

    nav ul{
        gap: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .home{
        flex-direction: column;
    }

    .about{
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .expertise{
        width: 48%;
    }

    .testinomials .customers{
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testinomials .customers .expertise{
        width: 48%;
    }

    footer .top ul{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul{
        gap: 13px;
    }

    #menuButton{
        display: none;
    }

    .toggle{
        display: none;
    }
    nav.open .logo{
        display: none;
    }

    nav.open ul{
        display: flex;
    }

    .home{
        padding: 42px;
    }

    .experties{
        padding: 85px 42px 0;
    }

    .experties .experties-items{
        gap: 8px;
    }

    .about{
        padding: 85px 42px;
    }

    .portfolio{
        padding: 60px 42px;
    }

    .portfolio .portfo-items{
        gap: 18px;
    }

    .testinomials{
        padding: 85px 42px;
    }

    footer{
        padding: 85px 42px;
    }

    footer .bottom{
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {

    nav ul{
        display: none;
    }
    
    #menuButton{
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        padding: 8px;
    }
    .toggle{
        height: 15px;
        width: 20px;
        display: block;
    }
    nav ul li a{
        font-size: 13px;
    }

    nav .logo a{
        font-size: 18px;
    }

    .home .left h3{
        font-size: 32px;
    }

    .home .left p{
        font-size: 16px;
    }

    .home .left button{
        width: 100%;
    }

    .experties.experties-items .expertise{
        width: 100%;
    }

    .portfolio .header button{
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .expertise{
        width: 100%;
    }

    .testinomials .customers .expertise{
        width: 100%;
    }
}
